@import "./media.mixins";
:root {
  --main-yellow: #fdb515;
  --main-purble: #9458ab;
}
body {
  font-family: "Cairo", sans-serif;
}
/* globals */
ul,
li {
  margin: 0 !important;
  padding: 0 !important;
}

.button:active,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

/* media queries*/
@include mobile-xs {
  :root {
    font-size: 12px;
  }
}
/* main colors */
.purble-bg {
  background-color: #9458ab;
}
.purble-text {
  color: #9458ab;
}
/* .yellow-bg {
  background: #fdb515;
} */
.yellow-color {
  color: #fdb515;
}
